body {
    background-color: darkgray;
}

/* Header block */
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
}
.p{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style: light;
    font-weight: 300;
    line-height: normal;
    flex-shrink: 0;
    margin: 0;
}
.pp{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 656;
    line-height: normal;
    flex-shrink: 0;
    margin: 0;
}
.ppp{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-style: thin;
    font-weight: 300;
    line-height: normal;
    flex-shrink: 0;
    margin: 0;
}
.header-container{
    display: grid;
    grid-template-columns: 160px auto;
}
.pppp{
    grid-row: 1/4;
}

/* End of Header  */
/* Navigation Bar */
.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 38.368px;
    flex-shrink: 0;
    background: #3695EC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
/* End of Navigation Bar */

/* section */
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 50px;
    
}
.grid-container > div {
    text-align: center;
    padding: 2vw;
    font-size: 5vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
/* end of section */
/* footer */
.flex-container{
    background: #3695EC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}


.link{
    text-decoration: none;
    color: white;
    height: min-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    /* footer media queries */
   
