body {
    background-color: darkgray;
}

/* Header block */
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
}
.p{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style: light;
    font-weight: 300;
    line-height: normal;
    flex-shrink: 0;
    margin: 0;
}
.pp{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 656;
    line-height: normal;
    flex-shrink: 0;
    margin: 0;
}
.ppp{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-style: thin;
    font-weight: 300;
    line-height: normal;
    flex-shrink: 0;
    margin: 0;
}
.header-container{
    display: grid;
    grid-template-columns: 160px auto;
}
.pppp{
    grid-row: 1/4;
}

/* End of Header  */
/* Navigation Bar */
.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 38.368px;
    flex-shrink: 0;
    background: #3695EC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    
    
}
/* End of Navigation Bar */

/* section */
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 50px;
    
}
.grid-container > div {
    text-align: center;
    padding: 2vw;
    font-size: 5vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.linkx {
    text-decoration: none;
    color: #2B78E4;
}
    /* Requirements-section */
    h1 {
        color: #000;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .req-container {
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .req-items {
        border-radius: 30px;
        background: rgba(54, 149, 236, 0.40);
        font-family: 'Josefin Sans', sans-serif;
        margin: 30px;
        padding: 10px;
    }
    /* End of Requirements-section */

    /* Schedule-section */
    p {
        font-family: 'Josefin Sans', sans-serif;
    }
    .sched-container {
        display: grid;
        grid-template-columns: auto;
        font-family: 'Josefin Sans', sans-serif;
        padding-top: 0;
        padding-left: 100px;
        padding-right: 100px;
    }
    .sched-items {
        border-radius: 50px;
        background: #D9D9D9;
        font-family: 'Josefin Sans', sans-serif;
        margin: 30px;
        padding: 50px;

    }

    /* End of Schedule-section */

    /* Man-section */
    .man-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        padding: 50px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .man-items {
        padding: 50px;
    }
    .code {
        border-radius: 50px;
        background: #D9D9D9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 20px;
        
    }
    .navi {
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.40);
        color: #2B78E4;
        font-family: "Josefin Sans";
        font-style: normal;
        
        

    }
    /* End of Man-section */


/* end of section */

/* footer */
.flex-container{
    background: #3695EC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}


.link{
    text-decoration: none !important;
    color: white;
    height: min-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    /* footer media queries */
   
    @media screen and (min-width: 480px; ) {
        .header {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: 0;
        }
        .header-container{
            display: grid;
            grid-template-columns: auto auto;
        }
        .p{
            color: #000;
            font-family: 'Josefin Sans', sans-serif;
            
        }
        .pp{
            color: #000;
            font-family: 'Josefin Sans', sans-serif;
            
        }
        .ppp{
            color: #000;
            font-family: 'Josefin Sans', sans-serif;
            
        }
        .header-container{
            display: grid;
            width: 100%;
            height: auto;
        }
        .pppp{
            grid-row: 1/4;
        }
        .nav-item {
            font-size: auto !important;
        }
        .nav-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: #3695EC;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: #FFF;
            font-family: 'Josefin Sans', sans-serif;
    }
