
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
body {
    background-color: Lightblue;
  }
  h1 {
    color: rgb(245, 71, 172); 
    text-align: center;
    text-decoration: wavy;
    font-family: 'Sevillana', cursive;
    font-size: 5vw;
  }
.badurek {
    color: cornflowerblue;
    text-align: center;
    font-family: monospace; 
    font-size: 2vw;
}